* {
  font-family: Tahoma;
  margin: 4px;
  padding: 4px;
}

.node {
  stroke-width: 3px;
}

.link {
  stroke: #999;
  stroke-opacity: .5;
}

.avatar {
  border-radius: 100px;
}

.year {
  background-color: green;
}

#firstFlex {
  display: flex;
}

#targetSummary {
  border: 2px solid #00ff90;
  width: 200px;
  
}

.btn {
  border-radius: 0.5em;
  border: 1px solid dodgerblue;
  color: dodgerblue;
}

.btn-main {
  border-radius: 0.5em;
  background-color: dodgerblue;
  color: #fff !important;
}

#graph {
  border: 1px solid #333;
}